server {
    listen ${LISTEN_PORT};
    server_name _;
    resolver ${RESOLVER};
    set ${ESC}upstream ${UPSTREAM_PROTO}://${UPSTREAM};

    error_log /dev/stdout info;
    access_log /dev/stdout;

    location / {
       proxy_pass ${ESC}upstream;
    }
}